[submodule "lib/aave-umbrella"]
	path = lib/aave-umbrella
	url = https://github.com/aave-dao/aave-umbrella
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/aave-dao/aave-helpers
[submodule "lib/aave-capo"]
	path = lib/aave-capo
	url = https://github.com/bgd-labs/aave-capo.git
